**6.5.2 Create Heatmaps for Weather Parameters**

In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Vaini,TO,2022-10-21 19:13:09,-21.2000,-175.2000,73.56,88,100,10.36
1,1,Ushuaia,AR,2022-10-21 19:09:08,-54.8000,-68.3000,53.26,32,75,11.50
2,2,Rio Grande,BR,2022-10-21 19:13:10,-32.0350,-52.0986,60.71,91,95,14.23
3,3,Torbay,CA,2022-10-21 19:13:10,47.6666,-52.7314,55.89,74,100,1.01
4,4,Bumba,CD,2022-10-21 19:13:11,2.1833,22.4667,73.20,89,100,2.55

In [3]:
# Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

# 1. Assign the locations to an array of latitude and longitude pairs.
locations = [latitude, longitude]
# 2. Assign the weights variable to some values.
temperatures = # an array of length equal to the locations array length
# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure()
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
fig

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
#Adjust Heatmap Zoom, Intensity, and Point Radius
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

**6.5.3 Get Vacation Criteria**

In [11]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [12]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
12,12,Iquitos,PE,2022-10-21 19:13:15,-3.7481,-73.2472,89.64,66,75,6.91
14,14,San Patricio,US,2022-10-21 19:13:16,28.0170,-97.5169,84.15,36,0,12.12
15,15,Kapaa,US,2022-10-21 19:13:17,22.0752,-159.3190,82.38,77,75,12.66
16,16,Laguna,US,2022-10-21 19:13:17,38.4210,-121.4238,85.08,46,0,6.91
17,17,Half Moon Bay,US,2022-10-21 19:13:18,37.4636,-122.4286,75.81,74,100,10.36
24,24,Tevaitoa,PF,2022-10-21 19:13:21,-16.7833,-151.5000,79.32,76,13,18.25
28,28,Bastrop,US,2022-10-21 19:08:28,32.7562,-91.8724,83.88,40,0,9.22
35,35,Hilo,US,2022-10-21 19:13:26,19.7297,-155.0900,85.28,72,40,4.61
36,36,Sao Filipe,CV,2022-10-21 19:13:27,14.8961,-24.4956,79.05,77,6,6.35
37,37,Hithadhoo,MV,2022-10-21 19:13:27,-0.6000,73.0833,80.80,78,100,9.78

In [13]:
#determine if there are any null values
preferred_cities_df.count()

City_ID       170
City          170
Country       170
Date          170
Lat           170
Lng           170
Max Temp      170
Humidity      170
Cloudiness    170
Wind Speed    170
dtype: int64

**6.5.4 Map Vacation Criteria**

In [14]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp      Lat       Lng Hotel Name
12        Iquitos      PE     89.64  -3.7481  -73.2472
14   San Patricio      US     84.15  28.0170  -97.5169
15          Kapaa      US     82.38  22.0752 -159.3190
16         Laguna      US     85.08  38.4210 -121.4238
17  Half Moon Bay      US     75.81  37.4636 -122.4286
24       Tevaitoa      PF     79.32 -16.7833 -151.5000
28        Bastrop      US     83.88  32.7562  -91.8724
35           Hilo      US     85.28  19.7297 -155.0900
36     Sao Filipe      CV     79.05  14.8961  -24.4956
37      Hithadhoo      MV     80.80  -0.6000   73.0833

In [15]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key

}

In [19]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [22]:
hotel_df.tail(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
513,Eyl,SO,78.66,7.9803,49.8164,EYL AQUE SYSTEM
514,Phan Thiet,VN,75.58,10.9333,108.1000,Hotel Saigon-PT
516,Jaisalmer,IN,80.55,26.9147,70.9181,Hotel Fifu
519,Maceio,BR,79.07,-9.6658,-35.7353,Hotel Ponta Verde Maceió
521,Sur,OM,80.01,22.5667,59.5289,Sur Plaza Hotel
529,Bom Jesus Do Galho,BR,83.61,-19.8289,-42.3161,Hotel e Restaurante 'Seachegue'
533,Kijini,TZ,75.25,-5.8500,39.3167,Green and Blue Ocean Lodge
534,Wanning,CN,75.00,18.8003,110.3967,Paradise Hotel
536,Buraydah,SA,75.65,26.3260,43.9750,Mövenpick Qassim
545,Cordoba,AR,88.00,-31.4135,-64.1811,Hotel Sussex

In [29]:
hotel_df=hotel_df[hotel_df["Hotel Name"] != ""]

In [30]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [31]:
info_box_template = """
<dl>
<dt>Name</dt><dd>{column1}</dd>
<dt>Another name</dt><dd>{column2}</dd>
</dl>
"""

In [32]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [33]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [34]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))