# Deliverable 3. Create a Travel Itinerary Map.
----
1. Import the vacation CSV file. 
2. From the map above with pick 4 cities that are in close proximity (on the same continent) that the customer would travel to and create a directions layer map.
3. For the "travel_mode" use either "DRIVING", "BICYCLING", or "WALKING".
4. Take a screenshot of the route and save it. 
5. Then create a marker layer for the four cities. Each city will should have a pop-up marker that contains
    - The hotel name
    - The city
    - The country
    - The current weather description and the maximum temperature
---

## Make sure the initial dependencies and the Google API key are imported.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

In [2]:
# Configure gmaps
gmaps.configure(api_key=g_key)

## From your `Vacation_Search` folder from Deliverable 2, import the `WeatherPy_vacation.csv` file as a DataFrame named `vacation_df`

In [3]:
# Read the WeatherPy_vacation.csv into a DataFrame
vacation_df = "../Vacation_Search/WeatherPy_vacation.csv"

# Load the CSV file into a Pandas DataFrame
vacation_df = pd.read_csv ("../Vacation_Search/WeatherPy_vacation.csv")

# # Display sample data
vacation_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
6,Mocuba,MZ,74.95,light rain,-16.8392,36.9856,Phama Lodge
37,Una,IN,71.71,clear sky,20.8167,71.0333,Hotel Harbhole
38,Biloela,AU,74.16,scattered clouds,-24.4167,150.5000,Silo Motor Inn Biloela
41,Huntsville,US,70.68,overcast clouds,34.7304,-86.5861,Embassy Suites by Hilton Huntsville
44,East London,ZA,70.74,clear sky,-33.0153,27.9116,Tu Casa

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [4]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## In this step, you will set-up the pop-up markers. Review the code to create a marker layer map of the vacation search results. This code is the same as in Deliverable 2.

In [5]:
# Review the formatting template
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

# Get the data from each row and add it to the formatting template and store the data in a list
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [14]:
# Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()


# Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

## From the vacation search map, *choose four cities* that a customer might want to visit. They should be close together and in the same country.

In [7]:
# Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# The starting and ending city should be the same city.
start = "Paita"
end = "Paita"
city1 = "Celendin"
city2 = "Huarmey"
city3 = "Hualmay"

vacation_start = vacation_df.loc[vacation_df["City"] == start]
vacation_end = vacation_df.loc[vacation_df["City"] == end]  
vacation_city1 = vacation_df.loc[vacation_df["City"] == city1]
vacation_city2 = vacation_df.loc[vacation_df["City"] == city2] 
vacation_city3 = vacation_df.loc[vacation_df["City"] == city3]   
vacation_city3

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
201,Hualmay,PE,71.13,few clouds,-11.0964,-77.6139,Hotel Villa Kitzia Huacho

In [8]:
vacation_city3

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
201,Hualmay,PE,71.13,few clouds,-11.0964,-77.6139,Hotel Villa Kitzia Huacho

## Use the `to_numpy()` function and list indexing to write code to retrieve the latitude-longitude pairs as tuples from each city DataFrame.

In [9]:
# Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start[["Lat", "Lng"]].to_numpy()[0]
end = vacation_end[["Lat", "Lng"]].to_numpy()[0]
city1 = vacation_city1[["Lat", "Lng"]].to_numpy()[0]
city2 = vacation_city2[["Lat", "Lng"]].to_numpy()[0]
city3 = vacation_city3[["Lat", "Lng"]].to_numpy()[0]  
vacation_city3

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
201,Hualmay,PE,71.13,few clouds,-11.0964,-77.6139,Hotel Villa Kitzia Huacho

## Use the [gmaps documentation](https://jupyter-gmaps.readthedocs.io/en/latest/tutorial.html#directions-layer) to create a directions layer map using the variables from the previous step. Where the starting and ending city are the same city, the `waypoints` are the three other cities, and the `travel_mode` is either `"DRIVING"`, `"BICYCLING"`, or `"WALKING"`.

In [15]:
# Define a new figure object
fig = gmaps.figure()

# Create a direction layer map using the start and end latitude-longitude pairs, and stop1, stop2, and stop3 as the waypoints.
# The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
vacation_itinerary = pd.concat([vacation_start, vacation_city1, 
                          vacation_city2, vacation_city3]
                         ,ignore_index=True)
vacation_itinerary
# Add the layer to the map


# Display the map
fig

Figure(layout=FigureLayout(height='420px'))

## Use the provided `concat()` function code snippet to combine the four separate city DataFrames into one DataFrame.

In [16]:
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat(
    [
        vacation_start,
        vacation_city1,
        vacation_city2,
        vacation_city3
    ],
    ignore_index = True
)

# Display sample data
itinerary_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Paita,PE,73.63,broken clouds,-5.0892,-81.1144,Hotel NÃ¡utico de Paita
1,Celendin,PE,70.32,light rain,-6.8703,-78.1517,Villa Madrid
2,Huarmey,PE,71.19,few clouds,-10.0681,-78.1522,Hotel Miramar
3,Hualmay,PE,71.13,few clouds,-11.0964,-77.6139,Hotel Villa Kitzia Huacho

## Refactor the code from Step 6 to create a new marker layer map of the cities on the travel route.

In [17]:
# Review the formatting template
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

# Get the data from each row and add it to the formatting template and store the data in a list
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [18]:
# Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Define a new figure object
fig = gmaps.figure()

# Add the layer to the map




#Display the figure
fig

Figure(layout=FigureLayout(height='420px'))