# Deliverable 3. Create a Travel Itinerary Map.
----
1. Import the vacation CSV file. 
2. From the map above with pick 4 cities that are in close proximity (on the same continent) that the customer would travel to and create a directions layer map.
3. For the "travel_mode" use either "DRIVING", "BICYCLING", or "WALKING".
4. Take a screenshot of the route and save it. 
5. Then create a marker layer for the four cities. Each city will should have a pop-up marker that contains
    - The hotel name
    - The city
    - The country
    - The current weather description and the maximum temperature
---

## Make sure the initial dependencies and the Google API key are imported.

In [54]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

In [55]:
# Configure gmaps
gmaps.configure(api_key=g_key)

## From your `Vacation_Search` folder from Deliverable 2, import the `WeatherPy_vacation.csv` file as a DataFrame named `vacation_df`

In [56]:
# Read the WeatherPy_vacation.csv into a DataFrame
vacation_df = "../Vacation_Search/WeatherPy_vacation.csv"

# Load the CSV file into a Pandas DataFrame
vacation_df = pd.read_csv ("../Vacation_Search/WeatherPy_vacation.csv")

# # Display sample data
vacation_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
6,Mocuba,MZ,74.95,light rain,-16.8392,36.9856,Phama Lodge
37,Una,IN,71.71,clear sky,20.8167,71.0333,Hotel Harbhole
38,Biloela,AU,74.16,scattered clouds,-24.4167,150.5000,Silo Motor Inn Biloela
41,Huntsville,US,70.68,overcast clouds,34.7304,-86.5861,Embassy Suites by Hilton Huntsville
44,East London,ZA,70.74,clear sky,-33.0153,27.9116,Tu Casa
46,Carnarvon,AU,70.47,scattered clouds,-24.8667,113.6333,Hospitality Carnarvon
60,Tessaoua,NE,74.48,clear sky,13.7574,7.9874,Benin Dan Kaabou Heberge
71,Mae Hong Son,TH,74.30,overcast clouds,19.3003,97.9685,Baiyoke Chalet Hotel
74,Popondetta,PG,73.11,overcast clouds,-8.7537,148.2534,Timos Transit House
83,Phan Thiet,VN,74.43,overcast clouds,10.9333,108.1000,Hotel Saigon-PT
92,Biltine,TD,71.44,clear sky,14.5333,20.9167,Hôtel Trois Étoiles de Biltine
109,Katakwi,UG,74.30,overcast clouds,1.8911,33.9661,Homestay Katakwi
112,Pringsewu,ID,73.27,overcast clouds,-5.3582,104.9744,Urban Style by Front One
121,Coihueco,CL,70.54,broken clouds,-36.6167,-71.8333,"Frutillares, Coihueco"
132,Charters Towers,AU,74.08,clear sky,-20.1000,146.2667,Cattleman's Rest Motor Inn
189,Dingle,PH,72.86,overcast clouds,10.9995,122.6711,SEGAYA PROPERTY
201,Hualmay,PE,71.13,few clouds,-11.0964,-77.6139,Hotel Villa Kitzia Huacho
209,Najran,SA,70.45,clear sky,17.4924,44.1277,محمد هادي ال فطيح
223,Cidreira,BR,74.17,clear sky,-30.1811,-50.2056,Hotel Castelo
233,Celendin,PE,70.32,light rain,-6.8703,-78.1517,Villa Madrid
263,Lundazi,ZM,72.07,overcast clouds,-12.2929,33.1782,Knox Lodge
279,Lira,UG,72.79,overcast clouds,2.2350,32.9097,ST Lira Hotel Limited
290,Biak,ID,74.98,overcast clouds,-0.9131,122.8766,Penginapan Kim
292,Jerantut,MY,73.56,overcast clouds,3.9360,102.3626,Jerantut Hill Resort
295,Tay Ninh,VN,74.17,broken clouds,11.3000,106.1000,Thanh Tuyền Hotel
297,Senanga,ZM,70.68,clear sky,-16.1167,23.2667,Zango lodge
314,Cam Ranh,VN,73.36,broken clouds,11.9214,109.1591,OYO 598 Peony Hotel
348,Port Elizabeth,ZA,70.11,few clouds,-33.9180,25.5701,39 On Nile Guest House
349,Katobu,ID,73.99,overcast clouds,-4.9408,122.5276,La Ode Husein
401,Surt,LY,70.95,broken clouds,31.2089,16.5887,فندق المدينة
412,Atambua,ID,72.81,broken clouds,-9.1061,124.8925,Ros Muskanan
445,Livingstone,ZM,72.21,light rain,-17.8419,25.8543,Gloria's Bed and Breakfast
457,Yeppoon,AU,74.98,clear sky,-23.1333,150.7333,Villa Mar Colina
480,Umm Lajj,SA,74.97,clear sky,25.0213,37.2685,Moon light Furnished Units
499,Bilma,NE,72.25,overcast clouds,18.6853,12.9164,Expeditions Ténére voyages
500,Paita,PE,73.63,broken clouds,-5.0892,-81.1144,Hotel Náutico de Paita
512,Lahat,ID,72.75,overcast clouds,-3.8000,103.5333,Bukit Serelo Hotel
574,Rawson,AR,73.98,broken clouds,-43.3002,-65.1023,Hosteria Sampedro
576,Magway,MM,70.34,overcast clouds,20.1500,94.9167,Htein Htein Thar 2
583,Keti Bandar,PK,74.32,clear sky,24.1447,67.4497,Haji laloo memon house
595,Mananara,MG,72.68,light rain,-16.1667,49.7667,Chez Roger
601,Rajkot,IN,71.94,clear sky,22.3000,70.7833,The Imperial Palace
627,Amuntai,ID,72.95,overcast clouds,-2.4177,115.2494,Hotel Balqis
628,Pedregulho,BR,72.01,scattered clouds,-20.2569,-47.4767,Hotel Santa Rita
632,Mundra,IN,73.02,clear sky,22.8500,69.7333,Hotel Bansidhar Palace
641,Emerald,AU,74.34,clear sky,-23.5333,148.1667,Emerald Inn
642,Owando,CG,71.56,moderate rain,-0.4819,15.8999,Exaunel Hotel Owando
644,Huarmey,PE,71.19,few clouds,-10.0681,-78.1522,Hotel Miramar
648,Odweyne,SO,70.59,broken clouds,9.4092,45.0640,Eng Hiirey House
655,Bamnet Narong,TH,70.81,clear sky,15.4992,101.6897,Jong Jaroen Resort
659,Richards Bay,ZA,74.70,few clouds,-28.7830,32.0377,BON Hotel Waterfront Richards Bay
662,Guarapari,BR,73.89,light rain,-20.6667,-40.4975,Hotel Porto do Sol

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [ ]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## In this step, you will set-up the pop-up markers. Review the code to create a marker layer map of the vacation search results. This code is the same as in Deliverable 2.

In [57]:
# Review the formatting template
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# Get the data from each row and add it to the formatting template and store the data in a list
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [26]:
# Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

# Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

## From the vacation search map, *choose four cities* that a customer might want to visit. They should be close together and in the same country.

In [65]:
# Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# The starting and ending city should be the same city.
start = "Paita"
end = "Paita"
city1 = "Celendin"
city2 = "Huarmey"
city3 = "Hualmay"

vacation_start = vacation_df.loc[vacation_df["City"] == start]
vacation_end = vacation_df.loc[vacation_df["City"] == end]  
vacation_city1 = vacation_df.loc[vacation_df["City"] == city1]
vacation_city2 = vacation_df.loc[vacation_df["City"] == city2] 
vacation_city3 = vacation_df.loc[vacation_df["City"] == city3]   
vacation_city3

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
201,Hualmay,PE,71.13,few clouds,-11.0964,-77.6139,Hotel Villa Kitzia Huacho

In [64]:
vacation_city3

Empty DataFrame
Columns: [City, Country, Max Temp, Current Description, Lat, Lng, Hotel Name]
Index: []

## Use the `to_numpy()` function and list indexing to write code to retrieve the latitude-longitude pairs as tuples from each city DataFrame.

In [66]:
# Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start[["Lat", "Lng"]].to_numpy()[0]
end = vacation_end[["Lat", "Lng"]].to_numpy()[0]
city1 = vacation_city1[["Lat", "Lng"]].to_numpy()[0]
city2 = vacation_city2[["Lat", "Lng"]].to_numpy()[0]
city3 = vacation_city3[["Lat", "Lng"]].to_numpy()[0]  
vacation_city3

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
201,Hualmay,PE,71.13,few clouds,-11.0964,-77.6139,Hotel Villa Kitzia Huacho

## Use the [gmaps documentation](https://jupyter-gmaps.readthedocs.io/en/latest/tutorial.html#directions-layer) to create a directions layer map using the variables from the previous step. Where the starting and ending city are the same city, the `waypoints` are the three other cities, and the `travel_mode` is either `"DRIVING"`, `"BICYCLING"`, or `"WALKING"`.

In [81]:
# Define a new figure object
fig = gmaps.figure()

# Create a direction layer map using the start and end latitude-longitude pairs, and stop1, stop2, and stop3 as the waypoints.
# The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
vacation_itinerary = pd.concat([vacation_start, vacation_city1, 
                          vacation_city2, vacation_city3]
                         ,ignore_index=True)
vacation_itinerary
# Add the layer to the map
fig.add_layer(marker_layer)

# Display the map
fig

Figure(layout=FigureLayout(height='420px'))

## Use the provided `concat()` function code snippet to combine the four separate city DataFrames into one DataFrame.

In [73]:
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat(
    [
        vacation_start,
        vacation_stop1,
        vacation_stop2,
        vacation_stop3
    ],
    ignore_index = True
)

# Display sample data
itinerary_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Paita,PE,73.63,broken clouds,-5.0892,-81.1144,Hotel Náutico de Paita
1,Celendin,PE,70.32,light rain,-6.8703,-78.1517,Villa Madrid
2,Huarmey,PE,71.19,few clouds,-10.0681,-78.1522,Hotel Miramar

## Refactor the code from Step 6 to create a new marker layer map of the cities on the travel route.

In [74]:
# Review the formatting template
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# Get the data from each row and add it to the formatting template and store the data in a list
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [80]:
# Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Define a new figure object
fig = gmaps.figure()

# Add the layer to the map
fig.add_layer(marker_layer)



#Display the figure
fig

Figure(layout=FigureLayout(height='420px'))